@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    height: 100px;
    width: 100%;
    background-color: rgb(29, 0, 42);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3vw;
    color : rgb(237, 240, 235);
    box-shadow : 0 5px 15px rgba(0, 0 , 0, 0.06);
}

.nav-part2 {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.nav-part2 p a:hover,
.nav-part2 p a.active,
.logo,
.cart
{
    color : rgb(242, 188, 242);
    text-decoration: none;
}


/* nav ul li a:hover {
    text-decoration: underline;
}
 */
.checkout-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.field-group {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.field-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
}

.field-group input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.field-group select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #fff;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    color: #666;
    font-weight: normal;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #222;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

footer p {
    font-size: 14px;
    color: #666;
}